body {
    background-color: #788402;
    background-image: url("C:\Users\ANDREEA\Desktop\RecipesSite\client\src\images\background.png");
    background-size: 1100px 1000px;
    background-repeat: no-repeat;
}