body {
    background-color: #92817a;
    background-image: url("C:\Users\ANDREEA\Desktop\RecipesSite\client\src\images\background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}